extends layout

block css
   link(rel='stylesheet', href='/stylesheets/tokenfield/css/bootstrap-tokenfield.css')
   link(rel='stylesheet', href='/stylesheets/jquery-ui/jquery-ui.css')
   link(rel='stylesheet', href='/stylesheets/editors5/dist/bootstrap3-wysihtml5.css')
   link(rel='stylesheet', href='/stylesheets/editors5/dist/bootstrap3-wysihtml5-editor.css')
   script(src='/stylesheets/datatables/media/js/jquery.js')
   script.
      if (#{show}) {
         $(document).ready(function(){
            $('#modalInsert').modal({backdrop: 'static', show: true});
         });
      }

block content
   form.form-horizontal(role="form" method="post" enctype="multipart/form-data")
      div.form-group
         label.control-label.col-sm-2(for="codigo") Código:
         div.col-sm-2
            input#insertCodigo.form-control(type="text" name="codigo" placeholder="Insira um número")
      div.form-group
         label.control-label.col-sm-2(for="nota") Nota:
         div.col-sm-10
            textarea#insertNota.form-control(rows="20" name="nota" placeholder="Escreva uma nota ou descrição aqui!!")
      div.form-group
         label.control-label.col-sm-2(for="arquivo") Arquivo:
         div.col-sm-4
            div.input-group
               input#insertArquivos.form-control(type="file" name="file" placeholder="Insira um arquivo aqui!!" multiple)
      div.form-group
         label.control-label.col-sm-2(for="tags") Tags:
         div.col-sm-10
            input#insertTags.form-control(type="text" name="tags" placeholder="Insira tags aqui!!")
      div.form-group
         div.col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Salvar
      #modalInsert.modal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                  h4.modal-title Mensagem:
               .modal-body
                  p #{message}
               .modal-footer
                  button.btn.btn-default(type="button" data-dismiss="modal") Fechar

block script
   script(src='/stylesheets/tokenfield/bootstrap-tokenfield.js')
   script(src='/javascripts/componentsInit/tokenfields.js')
   script(src='/javascripts/components/insertCodigoKeyUp.js')
   script(src='/stylesheets/editors5/dist/wysihtml5x-toolbar.min.js')
   script(src='/stylesheets/editors5/dist/bootstrap3-wysihtml5.js')
   script(src='/javascripts/componentsInit/textAreaEditor.js')
