doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.4/css/bootstrap.min.css')
    block css
  body
    div.container
       nav.navbar.navbar-default
          div.navbar-header
             button.navbar-toggle(type="button" data-toggle="collapse" data-target="#target-menu")
                span.sr-only
                span.icon-bar
                span.icon-bar
                span.icon-bar
             a.navbar-brand(href="/index" value='#{token}') Notas
             a.navbar-brand(href="/help") Ajuda
          div#target-menu.collapse.navbar-collapse
              form.navbar-form(role="form" method="post" action="/searchForTags")
                 input#token(type="hidden" name="token" value='#{token}')
                 div.form-group(style="display:inline;")
                    div.col-sm-11.input-group(style="display:table;")
                        input#searchTags.form-control(type="text" name="searchTags" placeholder="Insira uma tag para pesquisar!!")
                        span.input-group-btn
                           button#OR.btn.btn-default(type="submit" name="button" value="OR") Ou
                           button#AND.btn.btn-default(type="submit" name="button" value="AND") E
                           button#TEXTO.btn.btn-default(type="submit" name="button" value="TEXTO") Texto
              div.navbar-header
                 ol#breadcrumb.breadcrumb
       block content

    script(src='/javascripts/jquery-2.1.3.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/rest/rest.min.js')

    block script

