doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block css
  body
    div.container
      nav.navbar.navbar-default
         div.container-fluid
            div.navbar-header
               a.navbar-brand(href="/index") Notas
         div.container-fluid
            form(role="form" method="post")
               div.col-sm-12.span12
                  div.form-group
                     div.input-group
                        input#searchTags.form-control(type="text" name="searchTags" placeholder="Insira uma tag para pesquisar!!")
                        span.input-group-btn
                            button#buttonOR.btn.btn-default Ou
                            button#buttonAND.btn.btn-default E
                            button#buttonTexto.btn.btn-default Texto
      block content

    script(src='/javascripts/jquery-2.1.3.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/components/changeNavBar.min.js')
    script(src='/javascripts/rest/rest.min.js')

    block script

